.parentSvg{
	border: 3px dotted;
	border-color: blueviolet;
}

input[type=text] {
    width: 200px;	
	padding: 6px;
	margin-right: 16px;
	font-size: 17px;
}

.search-container{
	border: 3px dotted;
	border-color: violet;
	width: 1440px;
}

.search-container button {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}


.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.link {
  stroke: #000;
}

.node {
  stroke: #000;
}

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}